<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269644966104-ir1sopetm71hjkp0cd02dc364htbf0p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269644966104-ir1sopetm71hjkp0cd02dc364htbf0p8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269644966104-7k3nc8n1g7ftcp6vvlmo3gh43btg6gov.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCASeTOp9i72u9c7n_71n-pJGaDcxC-z0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>269644966104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noonbody.diet</string>
	<key>PROJECT_ID</key>
	<string>everybody-36ede</string>
	<key>STORAGE_BUCKET</key>
	<string>everybody-36ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269644966104:ios:9c8c094a1333210de70fad</string>
</dict>
</plist>