# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Noonbody Builder

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run tests
      run: xcodebuild clean test -workspace Noonbody/Noonbody.xcworkspace -scheme Noonbody -destination 'platform=iOS Simulator,name=iPhone 12 Pro,OS=lastest'

